/.vscode
/2.2.py
/3.1.py
/1.2.py
/1.4.py
/2.1.py
/2.3.py
/2.4.py
/3.2.py
/3.3.py
/3.4.py
/4.1.py
/task_from_gm.py
/4.2.py
/4.3.py
/4.4.py
/5.1.py
/5.2.py
/5.3.py
/5.4.py
/6.1.py
/6.2.py
/6.3.py
/6.4.py
/7.1.py
/7.2.py
/7.3.py
/7.4.py
/8.1.py
/8.2.py
/8.2(homework).py
/8.3.py
/8.3_homework.py
/8.4.py
/9.1.py
/9.2.py
/9.2_homework.py
/9.3.py
/9.3_homework.py
/9.4.py
/10.1.py
/10.2.py
/10.2_homework.py
/10.3.py
/10.3_homework.py
/10.4.py
/Finisf_prog.py
/nova_partners.py
/thermostat.py
/server_monitor.py
/18.09.py